{% extends 'theme.html' %}

{% load static %}


{% block 'content' %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="login-container">

                <h4 class="text-center mb-3">Login</h4>

                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-secondary" href="{% url 'register' %}">Register</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
</div>
{% endblock 'content' %}