{% extends 'theme.html' %}
{% load static %}



{% block 'content' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="login-container">
                <h4 class="text-center mb-3">Register</h4>

                <!-- {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="alert alert-danger">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} -->

                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-warning" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock 'content' %}